<html>
<head>
<title><%= Tab %></title>
<%- include('Components/Styles'); -%>
<style>
	.Healer {
		padding: .125in 0;

		font-size: 1.5rem;

	}
</style>
</head>
<body>
	<%- include('Components/Nav'); -%>



	<main>
	<% Healers.forEach (function (Healer) { %>
		<div class="Healer">
			<a href="/<%= Healer.Name %>/<%= Healer.Motif %>"><%= Healer.Name %></a>
		</div>
	<% }); %>
	</main>
</body>
</html>
